@import "/src/styles/Colors.scss";
.single-category-btn:hover {
  background-color: $color-main-white !important;
  color: black !important;
}
.active-btn {
  background-color: $color-main-white !important;
  color: black !important;
}
.single-category-btn:hover {
  background-color: $color-main-white !important;
  color: black !important;
}
.category-options-btn {
  background-color: $color-main-white;
}
