
@import "Colors";
.font--ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.font--prompt {
  font-family: "Prompt", sans-serif;
}
.font--kaus {
  font-family: "Kaushan Script", cursive;
}

.font--felipa {
  font-family: "Felipa", cursive;
}
.fs--12px {
  font-size: 12px;
}
.fs--13px {
  font-size: 13px;
}
.fs--14px {
  font-size: 14px;
}
.fs--05rem {
  font-size: 0.5rem !important;
}
.fs--06rem {
  font-size: 0.6rem !important;
}
.fs--07rem {
  font-size: 0.7rem !important;
}
.fs--08rem {
  font-size: 0.8rem !important;
}
.fs--09rem {
  font-size: 0.9rem !important;
}
.fs--10rem {
  font-size: 1rem !important;
}
.fs--11rem {
  font-size: 1.1rem !important;
}
.fs--12rem {
  font-size: 1.2rem !important;
}
.fs--13rem {
  font-size: 1.3rem !important;
}
.fs--14rem {
  font-size: 1.4rem !important;
}
.fs--15rem {
  font-size: 1.5rem !important;
}
.fs--16rem {
  font-size: 1.6rem !important;
}
.fs--17rem {
  font-size: 1.7rem !important;
}
.fs--18rem {
  font-size: 1.8rem !important;
}
.fs--19rem {
  font-size: 1.9rem !important;
}
.fs--2rem {
  font-size: 2rem !important;
}
.fs--21rem {
  font-size: 2.1rem !important;
}
.fs--22rem {
  font-size: 2.2rem !important;
}
.fs--23rem {
  font-size: 2.3rem !important;
}
.fs--24rem {
  font-size: 2.4rem !important;
}
.fs--25rem {
  font-size: 2.5rem !important;
}
.fs--26rem {
  font-size: 2.6rem !important;
}
.fs--27rem {
  font-size: 2.7rem !important;
}
.fs--28rem {
  font-size: 2.8rem !important;
}
.fs--29rem {
  font-size: 2.9rem !important;
}
.fs--3rem {
  font-size: 3rem !important;
}
.fs--4rem {
  font-size: 4rem !important;
}
.fs--45rem {
  font-size: 4.5rem !important;
}
.fs--5rem {
  font-size: 5rem !important;
}
.fsw--100 {
  font-weight: 100;
}
.fsw--200 {
  font-weight: 200;
}
.fsw--300 {
  font-weight: 300;
}
.fsw--400 {
  font-weight: 400;
}
.fsw--500 {
  font-weight: 500;
}

// .background--lightblack {
//   background-color: $main-lightblack;
// }
// .background--lightgray {
//   background-color: $main-lightgray;
// }
// .text--lightblack {
//   color: $main-lightblack;
// }
// .text--expolightgray {
//   color: $main-lightgray;
// }
// .text--mainlightblue {
//   color: $main-lightblue;
// }
// .text--maindark {
//   color: $main-textdark;
// }