@import "/src/styles/Colors.scss";
.LeftSide {
  background-color: $color-main-blue;
  min-height: calc(100vh - 84px);

  .category-options-btn {
    background-color: #e3e7f1;
    border-radius: 1rem;
    width: 100%;
  }
}
