@import "/src/styles/Colors.scss";
.category-list{
    .single-category-list-item{
        border-bottom: 1px solid $color-main-blue ; 
    }
    .category-name{
        color: $color-main-blue,
    }
    .edit-button{
        background-color: $color-main-blue;
        width:100%
    }
    .delete-button{
        background-color: $color-main-red;
        width:100%
    }
}